<h1 class="text-center">{{titulo}}</h1>
<div class="container">
    <form action="/{{ruta}}" method="POST">
        <div class="form-group">
            <label for="numero">Número de Pokémon:</label>
            <input type="number" class="form-control" value="{{resultado.id_pokemon}}" name="id_pokemon"
                placeholder="Ingrese el número del Pokémon">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre del Pokémon:</label>
            <input type="text" class="form-control" value="{{resultado.nombre}}" name="nombre"
                placeholder="Ingrese el nombre del Pokémon">
        </div>
        <div class="form-group">
            <label for="url">URL de foto:</label>
            <input type="text" class="form-control" value="{{resultado.imagen}}" name="imagen"
                placeholder="Ingrese la url de donde se extraerá la imagen del Pokemon">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="form-control" name="tipo">
                <option selected disabled>Seleccione un tipo</option>
                <option>Agua</option>
                <option>Fuego</option>
                <option>Planta</option>
            </select>
        </div>
        <div class=" form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" name="descripcion">{{resultado.descripcion}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">{{boton}}</button>
        {{#unless resultado}}<button type="reset" class="btn btn-outline-dark">Borrar datos</button>
        {{else}}<a href="/" class="btn btn-outline-dark">Volver a Inicio</a>
        {{/unless}}
    </form>
</div>